{% extends 'base.html.twig' %}

{% block title %}Banger Builds : Home{% endblock %}

{% block body %}
<main class="homeMain">
    <div class="banner">
        <h1>Welcome to BANGER BUILDS</h1>
        <p class="quote">
            "We sell PCs, and PC parts."
        </p>
        <b class="citation">- John Banger, CEO</b>
    </div>
    
    <div class="carouselContainer">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="carouselItem">
                        Slide 1
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="carouselItem">
                        Slide 2
                    </div>    
                </div>
                    
                <div class="swiper-slide">
                    <div class="carouselItem">
                        Slide 3
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <section class="homepageSection">
        <h2>
            Popular categories
        </h2>

        <div class="homepageRow">
            <div class="popularCategory">

            </div>

            <div class="popularCategory">

            </div>

            <div class="popularCategory">

            </div>

            <div class="popularCategory">

            </div>
        </div>
    </section>

    <section class="homepageSection">
        <h2>
            New in stock
        </h2>

        <div class="homepageRow">
            <div class="rowItem">

            </div>

            <div class="rowItem">

            </div>

            <div class="rowItem">

            </div>

            <div class="rowItem">

            </div>

            <div class="rowItem">

            </div>

            <div class="rowItem">

            </div>
        </div>
        
    </section>
</main>
{% endblock %}
