{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main>
    <h1>COMPONENTS & ACCESSORIES</h1>
    <ul class="cardList">
        {% for category in categories %}
            <li>
                <a href="{{ path('app_product', {'categoryId': category.id}) }}">
                    <div class="card">
                    {% if category.name == "Headphones" or category.name == "Memory" %}
                            
                        <span class="cardTitle">
                            {{ category.name }}
                        </span>

                    {% elseif category.name == "Power supply" %}

                        <span class="cardTitle">
                            Power supplies
                        </span>

                    {% elseif category.name == "Uninterruptible Power Supply" %}

                        <span class="cardTitle">
                            Uninteruptible Power Supplies
                        </span>

                    {% else %}

                        <span class="cardTitle">
                            {{ category.name }}s
                        </span>

                    {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
