{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main class="altMain">
    <div class="titleContainer">
        <h1 class="mainTitle">Components & Accessories</h1>
    </div>
    

    <ul class="cardList">
        {% for category in categories %}
            <li>
                <a href="{{ path('app_product', {'categoryId': category.id}) }}">
                    <div class="card">
                        <figure class="cardImg">
                            <img src="" alt="{{category.name}} image">
                        </figure>

                        <div class="cardTitle">
                            {% if category.name == "Headphones" or category.name == "Memory" %}  

                                {{ category.name }}

                            {% elseif category.name == "Power supply" %}      

                                Power supplies

                            {% elseif category.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ category.name }}s
                                
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
