{% extends 'base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block body %}
<main>
    <h1>{{ category.name }}</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('show_product', {'categoryId': category.id, 'productId': product.id}) }}">{{ product.label }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
