{% extends 'base.html.twig' %}

{% block title %}Product detail{% endblock %}

{% block body %}
<main>
    <div class="productDisplay">
        <h1>{{ product.label }}</h1>
        <figure>
            <img src="" alt="Picture of the product">
        </figure>
    </div>
    
    <div class="productInfo">
        <p>
            Price : {{ product.price }} $
        </p>
        <p>
            Availability : 
            {% if product.inStock == true %}
                In stock
            {% else %}
                Out of stock
                {% if product.restockDelay %}
                    <p>Restocking in approximatively : {{ product.restockDelay }} days</p>
                {% endif %}
            {% endif %}
        </p>
        
    </div>
</main>
{% endblock %}