*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: var(--police);
}


:root{
    --police : "Montserrat", sans-serif, Arial, sans-serif;
    --bgDark : #393939;
    --bgLight: #dbdbdb;
    --secColor : #eee3cf;
    --mainColor : #e7c253;
    --cardColor : #b4a581;
    --warningColor : #ec4b4b;
    --validateColor : #6eca5e;
}

#wrapper{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secColor);
}

a{
    text-decoration: none;
    color: black;
}

input {
    outline:none;
   }

.hidden {
    display: none;
}

span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-style: none;
    text-align: center;
}

.neutralBtn{
    background-color: var(--bgDark);
    color: white;
}

.qttBtn{
    width: 35px;
    height: 35px;
}

.editBtn{
    background-color: var(--bgDark);
    color: white;
    width: 45px;
    height: 45px;
}

.returnBtn{
    background-color: var(--bgDark);
    color: white;
}

.deleteBtn{
    background-color: var(--warningColor);
    width: 45px;
    height: 45px;
}

.deleteBtnLarge{
    background-color: var(--warningColor);
}

.validateBtn{
    background-color: var(--validateColor);
}

.addToCartBtn{
    background-color: var(--bgDark);
    color: white;
}

.addToCartBtnAlt{
    width: 150px;
    display: flex;
    align-items: center;
    background-color: var(--bgDark);
    color: white;}

.optGroupX{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.optGroupY{
    display: flex;
    flex-direction: column;
    gap: 50px
}

/* --------------------------------NAVBAR-------------------------------- */
header{
    position: fixed; top: 0px;
    width: 100%;
    background-color: var(--bgDark);
    z-index: 99;
    /* box-shadow: 0px -10px 20px 20px #000000; */
}

nav{
    display: grid;
    justify-content: space-between ;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    /* ----------------------------NAVBAR TITLE---------------------------- */
    #navTitle{
        grid-column: 2;
        grid-row: 1;
    }

    #navLogo{
        color: var(--mainColor);
        width: 55px;
        height: 55px;
    }

    #navTitle a{
        font-size: 60px;
        font-weight: bolder;
        color: white;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #titleText {
        display: flex;
        gap: 10px;
    }

    /* ----------------------------USER BUTTONS---------------------------- */
    #sideMenu{
        grid-column: 3;
        grid-row: 1;
        display: flex;
        gap: 40px;
        align-items: center;
    }

    #cart{
        position: relative;
    }

    #cartCounter{
        position: absolute;
        top: 20px;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6e6e6e;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        padding: 2px;
        font-size: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* ----------------------------SEARCHBAR---------------------------- */
    #searchContainer{
        grid-column: 1/4;
        grid-row: 2;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    #searchbar{
        height: 75px;
        width: 800px;
        font-size: 40px;
        padding: 5px;
        border-style: none;
        color: white;
        background-color: black;
    }

    #searchButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 75px;
        font-size: 50px;
        border-style: none;
        background-color: #d4d4d4;
        color: var(--bgDark);
    }

    #suggestionList{
        position: absolute;
        top: 100px;
        list-style: none;
        background-color: #6e6e6e;
        overflow-x: hidden;
        z-index: 1;
        max-height: 350px;
        max-width: 930px;
    }

    #suggestionList li{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px;
        color: white;
    }

    /* ----------------------------BURGER MENU---------------------------- */
    #burger{
        grid-column: 1;
        grid-row: 1;
        cursor: pointer;
        height: 75px;
        width: 75px;
        font-size: 30px;
        margin-right: 10px;
        border-style: none;
        background-color: var(--bgDark);
        box-shadow: none;
    }

    #menuIcon{
        font-size: 200%;
        color: white;
    }

    #closeIcon{
        display: none;
        font-size: 200%;
        color: white;
    }

    #menu{
        position: fixed;
        transition: transform 0.2s;
        top: 199px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bgDark);
        list-style: none;
        padding: 20px;
        width: 50%;
        border-bottom-right-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hideMenu {
        transform: translateX(-150%);
    }

    #menu li{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .menuItem{
        color: white;
        font-size: 50px;
    }

    .menuItem button{
        font-size: 50px;
    }

/* --------------------------------FLASH ALERTS-------------------------------- */
.flashes{
    position: fixed;
    top: 200px;
}

.flashes .success{
    background-color: var(--validateColor);
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}

.flashes .warning{
    background-color: var(--warningColor);
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}

/* --------------------------------MAIN-------------------------------- */
main{
    font-size: 30px;
    min-height: 100vh;
    margin-top: 250px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px;
}

.homeMain{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.quote{
    font-style: italic;
    font-size: 20px;
    margin: 25px;
}

.carouselContainer{
    background-color: var(--bgLight);
    margin-bottom: 75px;
}

.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-button-prev{
    margin-left: 50px;
    background-color: var(--bgDark);
    width: 4vw;
    height: 4vw;
    border-radius: 50px;
    color: white;
}

.swiper-button-next{
    margin-right: 50px;
    background-color: var(--bgDark);
    width: 4vw;
    height: 4vw;
    border-radius: 50px;
    color: white;
}

.carouselItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.homepageSection{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--bgLight);
    padding: 50px;
    margin-bottom: 75px;
}

.homepageRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    gap: 50px;
    
}

.homeCard{
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeCardImg{
    height: 100%;
    width: inherit;
    background-color: #ffffff;
}

.homeCardDesc{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.homeCardLabel{
    padding: 10px;
    background-color: var(--bgDark);
    color: white;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}

.homeCardPrice{
    padding: 10px;
    background-color: var(--bgDark);
    color: white;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowCard{
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paginationContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.pagination a, .pagination span {
    /* color: #9b9b9b; */
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 700;
    transition: ease-in-out background-color 0.2s, color 0.2s ;
}
 
.pagination .current, .pagination a:hover {
    background-color: var(--secondary-color);
    border-radius: 25px;
    overflow: hidden;
    color: white;
    background-color: var(--bgDark);
}

h1{
    background-color: inherit;
    margin-bottom: 10px;
}

.mainTitle{
    margin-bottom: 80px;
}

.optContainer{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table{
    background-color: var(--bgLight);
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 100%;
}

table tr td{
    background-color: inherit;
    border: 1px solid;
    padding: 5px;
}

.itemLabel{
    display: flex;
    flex-direction: column;
}

.itemCategory{
    font-size: 20px;
    font-style: italic;
}

.total{
    text-align: end;
}

.altSection{
    background-color:var(--bgLight);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
}

.centerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generalInfo{
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    
}

.generalInfo h2{
    margin-bottom: 25px;
}

.generalInfo div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    background-color: var(--bgLight);
}

.history{
    margin-left: 50px;
    width: 100%;
    
}

.history h2{
    margin-bottom: 25px;
}

.historyItem{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: var(--bgLight);
}

.itemContent{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #eeeeee;
}


/* --------------------------------LISTS-------------------------------- */
ul{
    list-style: none;
}

.cardList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    gap: 50px;
}

.card{
    width: 200px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
}

.cardLarge{
    width: 300px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
}

.cardImg{
    height: 200px;
    width: inherit;
    background-color: var(--bgLight);
}

.cardImgLarge{
    height: 300px;
    width: inherit;
    background-color: var(--bgLight);
}

.cardTitle{
    padding: 10px;
    background-color: var(--bgDark);
    color: white;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDescription{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cardLabel{
    padding: 10px;
    background-color: var(--bgDark);
    color: white;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPricetag{
    padding: 10px;
    background-color: var(--bgDark);
    color: white;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemList{
    margin: 15px;
    margin-top: 30px;
    list-style: none;
}

.listItem {
    margin-bottom: 50px;
}

.mainItem {
    color: white;
    background-color: var(--bgDark);
}


/* --------------------------------FORMS-------------------------------- */
.formContainer{
    display: flex;
    justify-content: center;
    background-color:var(--bgLight);
    padding: 25px;
    border-radius: 10px;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50vw;
}

form div{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div label{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

form div input{
    padding: 15px;
    font-size: 30px;
    border-radius: 7px;
}

form div input[type=checkbox] {
    transform: scale(2.5);
    margin: 10px;
}

form div select{
    padding: 15px;
    font-size: 30px;
    border-radius: 7px;
}

form div textarea{
    padding: 15px;
    font-size: 30px;
    border-radius: 7px;
}

form div select option{
    font-size: 15px;
}

.formRowDouble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.submitBtn{
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    border-style: none;
    font-size: 30px;
    font-weight: bold;
}

.checkboxField{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

/* --------------------------------TABLES-------------------------------- */
table{
    border-style: none;
}

table tr th{
    padding: 25px;
    margin-left: 15px;
    text-align: start;
}

table tr td{
    padding: 25px;
    border-style: none;
}

tbody{
    border-top: 1px solid black;
}

tfoot{
    border-top: 1px solid black;
}

/* --------------------------------PRODUCT INFO-------------------------------- */
.productHeader{
    display: flex;
    gap: 25px;
    margin-bottom: 45px;
}

.productTitle{
    font-size: 45px;
}

.productMain{
    display: flex;
    gap: 50px;
}

.productGallery{
    background-color: var(--bgLight);
    padding: 25px;
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
}

.galleryMenu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.thumbnail{
    border: solid black 1px;
    background-color: white;
    width: 100px;
    height: 100px;
}

.mainImg{
    border: solid black 1px;
    background-color: white;
    width: 320px;
    height: 320px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    background-color: var(--bgLight);
    padding: 25px;
}

.productInfoAlt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: var(--bgLight);
    padding: 25px;}

.infoList{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.infoListAlt{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.productDesc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.description{
    background-color: var(--bgLight);
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.specs{
    margin-top: 25px;
}

.specs td{
    border: var(--bgDark) solid 1px;
}

.productReviews{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviewsHeader{
    display: flex;
    align-items: center;
    gap: 25px;
}

.review{
    background-color: var(--bgLight);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.star-active{
    color: #ffd000;
    text-shadow: 1px 1px 2px var(--bgDark);}

.productStars, .reviewStars{
    position: relative;
}

.star-overlay{
    position: absolute;
}


/* --------------------------------FOOTER-------------------------------- */
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bgDark);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Montserrat;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h2{
    font-weight: bold;
}

#footer1 h2{
    margin-bottom: 5px;
}

#footer1 p{
    font-weight: lighter;
    line-height: 20px;
}

#footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer2 p{
    font-weight: lighter;
    line-height: 20px;
}

#footer3 p{
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    margin-top: 10px;
}

/* --------------------------------DESKTOP-------------------------------- */
@media only screen and (min-device-width : 1290px){

    main{
        font-size: 20px;
    }

    /* --------------------------------HEADER-------------------------------- */
    nav{
        padding-left: 50px;
        padding-right: 50px;
    }

        /* ----------------------------NAVBAR TITLE---------------------------- */
        #navTitle{
            grid-column: 1;
            grid-row: 1;
        }
        
        #navlogo{
            color: var(--mainColor);
            margin-left: 15px;
            padding-right: 5px;
        }
        
        #navTitle a{
            font-size: 25px;
            font-weight: bolder;
            color: white;
        }

        #titleText {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        /* ----------------------------USER BUTTONS---------------------------- */
        #sideMenu{
            grid-column: 3;
            grid-row: 1;
        }

        #cartCounter{
            position: absolute;
            top: 10px;
            left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6e6e6e;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 2px;
            font-size: 15px;
        }

        /* ----------------------------SEARCHBAR---------------------------- */
        #searchContainer{
            grid-column: 2;
            grid-row: 1;
        }

        #searchbar{
            height: 30px;
            width: 800px;
            border-style: none;
            font-size: 20px;
            color: white;
            background-color: black;
        }
        
        #searchButton{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            font-size: 20px;
            border-style: none;
            color: var(--bgDark);
        }
        
        /* ----------------------------BURGER MENU---------------------------- */
        #burger{
            cursor: pointer;
            height: 30px;
            width: 30px;
            margin-right: 10px;
            border-style: none;
            background-color: var(--bgDark);
            display: none;
        }
        
        #menu{
            grid-column: 1/4;
            grid-row: 2;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            top: 0px;
            right: 0px;
            background-color: var(--bgDark);
            list-style: none;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            box-shadow: none;
        }
        
        .hideMenu {
            transform: translateX(0);
        }
        
        #menu li{
            padding-top: 0px;
            padding-bottom: 0px;
            margin-left: 25px;
            margin-right: 25px;
        }
        
        .menuItem{
            color: white;
            font-size: larger;
        }

    /* --------------------------------MAIN-------------------------------- */
    main{
        margin-top: 200px;
        /* margin-left: 300px;
        margin-right: 300px; */
    }

    /* --------------------------------INFO PAGE-------------------------------- */

        /* --------------------------------PRODUCT INFO-------------------------------- */

        .productGallery{
            background-color: var(--bgLight);
            padding: 25px;
            display: flex;
            flex-direction: row;
            gap: 25px;
        }

        .galleryMenu{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
        }

        .thumbnail{
            border: solid black 1px;
            background-color: white;
            width: 200px;
            height: 200px;
        }

        .mainImg{
            border: solid black 1px;
            background-color: white;
            width: 620px;
            height: 620px;
        }

        .productInfo {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .productInfo ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .productDesc{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
    /* --------------------------------FORMS-------------------------------- */
    
    form div label{
        font-size: 20px;
    }
    
    form div input{
        font-size: 20px;
        padding: 5px;
    }

    form div select{
        font-size: 20px;
        padding: 5px;
    }

    form div textarea{
        font-size: 20px;
        padding: 5px;
    }

    form div select option{
        font-size: 20px;
    }
    
    
    .formRowDouble{
        flex-direction: row;
    }
    
    .submitBtn{
        font-size: 20px;
    }
    /* --------------------------------TABLES-------------------------------- */
   
    .qttBtn{
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    
    /* --------------------------------FOOTER-------------------------------- */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--bgDark);
        color: white;
        padding: 10px;
    }
    
    footer a{
        text-decoration: none;
        color: white;
    }
    
    footer h2{
        font-size: larger;
    }
    
    #footer1 h2{
        margin-bottom: 5px;
    }
    
    #footer1 p{
        font-weight: lighter;
        font-size: medium;
        line-height: 20px;
    }
    
    #footer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #footer2 p{
        font-weight: lighter;
        font-size: m;
        line-height: 20px;
    }
    
    #footer3 p{
        display: flex;
        justify-content: space-around;
        font-size: 150%;
        margin-top: 10px;
    }
}
